/* import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?familyOpen+Sans:wght@300;400;500;600;700;800&display=swap");
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a:active,
a:hover,
a:focus {
  outline: none !important;
  outline-offset: 0; }

a,
a:hover {
  text-decoration: none; }

a:hover {
  color: #fff; }

ul,
ol {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 400; }

/* 
===========================
    Custom Scrollbar
===========================
 */
::-webkit-scrollbar {
  width: 0.625rem; }

::-webkit-scrollbar-track {
  background-color: white; }

::-webkit-scrollbar-track {
  background-color: red; }

/* uni-padding navbar */
.uni-padding {
  padding: 26px 10% 1.5rem; }

/*
===============================
   1  Navbar Header Design
===============================
*/
.header_wrapper .navbar {
  background-color: #30344e;
  -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
  transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s; }

.navbar.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #292c47;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown; }

@keyframes fadeInDown {
  0% {
    top: -30%; }
  50% {
    top: -15%; }
  100% {
    top: 0%; } }

.header_wrapper .nav-item .nav-link:hover {
  color: #fff !important; }

/* mobile focus remove css */
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none; }

.nav-link {
  color: #cbccd3;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px; }

/*
===============================
   2  Top-banner Design
===============================
*/
.top-banner {
  background-image: url("../images/banner.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10.875rem 0 9.375rem;
  overflow-x: hidden; }
  .top-banner h1 {
    font-size: 65px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif; }
  .top-banner p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
    max-width: 910px;
    margin: 0 auto; }
  .top-banner .main-btn {
    background-color: #e84545;
    color: #fff;
    padding: 12px 50px;
    font-size: 13px;
    margin-top: 4.5rem;
    font-weight: 600;
    text-transform: uppercase; }
  .top-banner .main-btn:hover {
    background-color: #e16f6f; }

/*
===============================
   3  Features Design
===============================
*/
.features {
  padding: 100px 0 50px; }
  .features .feature {
    margin-bottom: 50px; }
  .features .icon {
    font-size: 60px;
    color: #ea5a5a; }
  .features h5 {
    font-size: 14px;
    font-weight: 700;
    margin: 1rem 0.5rem;
    color: #2d3033;
    text-transform: uppercase; }
  .features p {
    font-size: 14px;
    font-weight: 400;
    color: #808080;
    max-width: 300px;
    margin: 0 auto; }

/*
==================================
        4 Works
==================================
*/
.works_wrapper {
  padding: 0 0 50px; }

.container-box {
  position: relative;
  width: 380px;
  height: 320px;
  overflow: hidden; }

.container-box:hover .overlay_text {
  visibility: visible;
  transform: scale(1.1); }

.container-box:hover img {
  transform: scale(1.1); }

.image {
  width: 380px;
  height: 320px;
  border: 1px solid #fff; }

.image img {
  width: 380px;
  height: 320px;
  object-fit: cover;
  transition: .5s ease; }

.overlay_text {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  background-color: #d54040;
  width: 380px;
  height: 320px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  visibility: hidden;
  transition: .5s ease; }

.overlay_text h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.overlay_text h3,
h5 {
  font-size: 14px;
  font-weight: 400; }

/*
==================================
   5 Our Team
==================================
*/
.team_wrapper {
  padding: 40px 0 80px; }
  .team_wrapper .row {
    max-width: 1020px;
    margin: auto; }
    .team_wrapper .row .staff h3 {
      font-size: 22px;
      color: #2d3033;
      font-weight: 400; }
    .team_wrapper .row .staff .sub {
      color: #e84545;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: inline-block; }
    .team_wrapper .row .staff p {
      font-size: 14px;
      color: #6c7279;
      font-weight: 400; }
    .team_wrapper .row .staff .ft-social {
      list-style: none;
      transition: 0.3s; }
      .team_wrapper .row .staff .ft-social li {
        border: 2px solid #e7ebed;
        padding: 6px 12px;
        margin: 2px; }
        .team_wrapper .row .staff .ft-social li a {
          color: #c6cacc; }
  .team_wrapper .ft-social li:hover {
    background-color: #292c47;
    transition: 0.3s; }

/*
==================================
   6 Clients Testimonials Design
==================================
*/
.no-gutter [class*="col-"] {
  padding-left: 0;
  padding-right: 0; }

.clients {
  background-color: #53354a; }

.clients p {
  font-size: 36px;
  color: #fff;
  text-align: left;
  max-width: 530px;
  font-family: ui-monospace;
  font-style: italic;
  margin: 30px 0 20px 50px; }

.clients h4 {
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  margin-left: 50px;
  text-transform: uppercase; }

.clients .carousel-indicators {
  margin-bottom: -2.5rem; }

.clients .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: #755d6e;
  border-radius: 50%; }

/*
===============================
  7 Download
===============================
*/
.download-wrapper {
  padding: 80px 0 78px; }

.download-wrapper h2 {
  color: #2d3033;
  font-size: 28px;
  font-weight: 300; }

.download-wrapper p {
  text-transform: uppercase;
  font-size: 14px;
  color: #2e2d2d;
  font-weight: 700;
  margin-bottom: 30px; }

.download-wrapper .btn {
  background-color: #e84545;
  color: #fff;
  padding: 12px 72px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block; }

/*
===============================
   8 footer
===============================
*/
.footer {
  padding: 55px 0 50px;
  background-color: #313454; }
  .footer .row {
    max-width: 1120px;
    margin: auto; }
    .footer .row h3 {
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 16px; }
    .footer .row p {
      color: #9698ad;
      font-size: 14px;
      font-weight: 400; }
    .footer .row .social-links {
      list-style: none;
      display: inline-block; }
      .footer .row .social-links li {
        padding: 8px 13px;
        border: 2px solid #ffffff;
        margin: 3px; }
        .footer .row .social-links li a {
          color: #ffffff;
          text-decoration: none; }

.copyright {
  background-color: #292c47;
  padding: 10px 0 5px 0; }
  .copyright p {
    color: #808080;
    padding-top: 12px;
    font-size: 14px; }
    .copyright p span {
      color: #ffffff; }
      .copyright p span i {
        color: #e74444; }

/*
===============================
    Responsive Website
===============================
*/
@media (max-width: 1024px) {
  .nav-link {
    font-size: 11px;
    margin-left: 24px; }
  .top-banner h1 {
    font-size: 54px; }
  .clients p {
    font-size: 24px;
    max-width: 350px; } }

@media (max-width: 991px) {
  .navbar-toggler {
    color: #fff; }
  .top-banner h1 {
    font-size: 42px; }
  .navbar-nav .nav-link {
    text-align: center;
    padding: 1rem; }
  /* footer */
  .footer p {
    margin-bottom: 40px; }
  .ftco-animate {
    margin-bottom: 40px; }
  .clients p {
    font-size: 19px; } }

@media (max-width: 767px) {
  .top-banner h1 {
    font-size: 30px; }
  .top-banner p {
    font-size: 16px; }
  .clients p {
    font-size: 18px;
    max-width: 300px; }
  .clients p {
    margin-top: 50px; }
  .clients h4 {
    margin-bottom: 30px; }
  /* footer */
  .footer li {
    margin-bottom: 40px; } }

@media (max-width: 480px) {
  .navbar-brand {
    width: 160px; }
  .top-banner h1 {
    font-size: 20px;
    margin-top: -50px; }
  .top-banner p {
    max-width: 300px; }
  .navbar-brand {
    width: 96px; }
  i {
    font-size: 15px; }
  .clients h4 {
    font-size: 10px; }
  .footer .row .social-links li {
    margin-bottom: 25px; }
  .copyright p {
    font-size: 12px; }
  .download-wrapper h2 {
    font-size: 22px; } }
